<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sigmaway.homeimage">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".CustomClasses.MyPersonalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tig_xxxhdpi640"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivities.AddHome"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".MainActivities.Room_Inventory"
            android:label="Room Inventory"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivities.Walls"
            android:label="Walls"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivities.Objects"
            android:label="Objects"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivities.Documents"
            android:label="Documents"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivities.AddRoom"
            android:label="Rooms"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SlideableTabs.MainPage" />
        <activity
            android:name=".MainActivities.DirectDocument"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivities.NavigationBarActivity"
            android:label="@string/title_activity_navigation_bar"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>